<%=   flash[:alert]  %>

<div class="container">

  <div class="col-md-7">
  <div class="shadow- p-5 mb-1 bg-light">
   <h4>ようこそ、ながのCakeへ！</h4>
       <p>このサイトはケーキ販売のECサイトになります。</br>
　　　     会員でない方も閲覧はできますが、</br>
　　　     購入には会員登録が必要になります。
       </p>
  </div>
  </div>

  <h2>新着商品</h2>

  <table>
    <% @new_items.each do |new_item| %>
     <th><%= image_tag new_item.image, size: "100x100" %></th>

     <td><%= new_item.name %><td>

  <% end %>
  </table>


</div>